<center><a href="https://www.linkedin.com/pub/forrester-wilson/13/53/1b0" style="text-decoration:none;"><span style="font: 80% Arial,sans-serif; color:#0783B6;"><img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_in_20x15.png" width="20" height="15" alt="View Forrester Wilson's LinkedIn profile" style="vertical-align:middle;" border="0">&nbsp;View Forrester Wilson's profile</span></a></center>


<h1>SAS to Python Dictionary</h1><h3> A guide for using python from a SAS background. </h3> 
<span>&ensp;&ensp; The easiest way to get python with all the needed libraries is to download <a href="https://docs.continuum.io/anaconda/install">ANACONDA</a>. The dictionary was written in an environment that only allowed Python 2.7; ideally, you should use the latest version of Python 3. Fortunately,in these examples, the difference between 2.7 and 3 is small. 

&ensp;&ensp; This document was created in the Jupyter development environment provided with Anaconda. This environment allows you to create a document with executeable code.  Thus anyone(including you) can recreate your results.
</span>

**getting started** Python manages functionality through libraries.The best python library to analyze data is Pandas. It is optimized to execute quickly and provides intuitive commands. The syntax for importing is below. The standard is to give it the alias pd. The second line is to display output in the document.

In [30]:
import pandas as pd
from IPython.display import display

## SAS Procedures covered: 
The first step should be read through each example. Then, you can go directly to the Pandas syntax by clicking on the SAS procedure you want to translate.
* [Data Step with CARDS](#first-bullet)
* [PROC CONTENTS](#second-bullet)
* [PROC PRINT](#third-bullet)
* [PROC SUMMARY](#fourth-bullet)
* [PROC FREQ](#fifth-bullet)
* [PROC MEANS](#sixth-bullet)
* [DATA step with SAS datasets](#seventh-bullet)
* [PROC IMPORT](#eigth-bullet)
* [SIMPLE CALCULATIONS](#ninth-bullet)
* [CALCULATIONS WITH IF STATEMENT](#tenth-bullet)
* [CALCULATIONS WITH ELSE IF STATEMENT](#eleventh-bullet)
* [PROC FORMAT](#twelth-bullet)
* [PROC EXPORT](#thirteenth-bullet)

Let's start by creating a simple data set to explore

<a class="anchor" id="first-bullet"></a>
<center> <h2> SAS data step with CARDS =  Pandas DataFrame</h2></center>
&ensp;&ensp;In SAS manually creating data is typically done with the cards or datalines command. For Pandas you use the DataFrame method. This data set is used in the early examples. For an explanation on loading files see "PROC IMPORT" later in this document.

**SAS**

    DATA sasdat;  
        INPUT segment $ revenue  loss ;  
        DATALINES;  
    subprime  5 -1  
    midprime  4  0  
    prime     3  0  
    midprime  5  -2  
    prime     4  0  
    midprime  5 0  
    subprime  6  0  
   
    PROC PRINT; RUN;

**PANDAS**  
Data sets in Pandas are referred to as data frames. Use the DataFrame method to create a new dataset.

In [31]:
df=pd.DataFrame({'segment': ['subprime', 'midprime', 'prime', 'midprime', 'prime', 'midprime', 'subprime']
                ,'revenue': [5,4,3,5,4,5,6]
                ,'loss': [-1, 0, 0, -2, 0, 0, 0]})

In the above code you create a dataframe called df and it has three variables: segment, revenue and loss. The values associated with variables are in the square brackets. To view the dataframe type either its name or

In [32]:
display(df)

   loss  revenue   segment
0    -1        5  subprime
1     0        4  midprime
2     0        3     prime
3    -2        5  midprime
4     0        4     prime
5     0        5  midprime
6     0        6  subprime

Add some variables:

In [33]:
df['debt']=['high','low', 'high', 'low', 'low', 'low', 'low']
df['sales']=['low','medium', 'high', 'medium', 'medium', 'low', 'low']


<a class="anchor" id="second-bullet"></a>
<center> <h2> PROC CONTENTS  = columns and shape </h2> </center>
&ensp;&ensp;proc contents provides two key peices of information: variable names and number of observations.
To get the variable names in Pandas call the columns attribute. To get the number of observations use the shape attribute.

**SAS**

    proc contents data=sasdat; 
    run;

**PANDAS**  
To get the variable names just call the data frames attribute "columns"

In [34]:
df.columns

Index([u'loss', u'revenue', u'segment', u'debt', u'sales'], dtype='object')

To get the number of observations use the shape attribute. The first value is the number of observations. The second is the number of variables

In [35]:
df.shape

(7, 5)

In [36]:
obs, columns= df.shape
print 'the number of observations are ' + str(obs)
print 'the number of columns are ' + str(columns)

the number of observations are 7
the number of columns are 5


<a class="anchor" id="third-bullet"></a>
<center><h2>PROC PRINT = head

**SAS**

    proc print data=sasdat (obs=2);
    var segment;
    run;

**PANDAS**  
There are a couple of ways to view particular values in pandas. One way is to use the heads method

In [37]:
df.segment.head(n=2)

0    subprime
1    midprime
Name: segment, dtype: object

The syntax is datframe.variable.head(n=number of observaions). So in this example we want to view, from the dataframe df the first 2 observations of the variable or column segment


<a class="anchor" id="fourth-bullet"></a>
<center><h2>PROC Summary = groupby

**SAS**

    proc summary data=sasdat sum;
        class segment;
        var profit;
        output out=newdat;
    run;

**PANDAS**  
When trying to get descriptive values by different classes or segments use groupby method with mean, sum, count, ...

In [38]:
newdat=df.groupby('segment', as_index=False).sum()

In the code you will see "as_index=false". For SAS users indexes are an unfamiliar concept. If you think of variable names as column labels think of an index as a row label. Since most SAS users never refer to rows in particular or refer to them based on conditions they generally will want to make sure that they don't use indexes.

In SAS proc summary will drop values where the class variable is missing. So will groupby. To keep missing values replace the values with fillna() method

below we replace any missing profit values with zero

In [39]:
df['loss'].fillna(0, inplace=True)

inplace=True condition makes the code compact. Without the condition the following would have to be written:
        df=df['loss'].fillna(0)


<a class="anchor" id="fifth-bullet"></a>
<center><h2>PROC FREQ= groupby or unique

**SAS**

    proc freq data=sasdat;
        tables segment;
    run;

**PANDAS**

In [40]:
df.groupby('segment').count()

          loss  revenue  debt  sales
segment
midprime     3        3     3      3
prime        2        2     2      2
subprime     2        2     2      2

**or**

In [41]:
df['segment'].unique()

array(['subprime', 'midprime', 'prime'], dtype=object)



<center><h2> PROC FREQ multple variables = pivot_table

**SAS**

    proc freq data= sasdat; 
        tables segment*debt;
    run;

**PANDAS**  
in this example using the pivot table method to get the volume in each segment by debt classification

In [42]:
df.pivot_table(values='loss', index='segment', columns='debt', margins=True, aggfunc='count')

debt      high  low  All
segment
midprime   NaN  3.0  3.0
prime      1.0  1.0  2.0
subprime   1.0  1.0  2.0
All        2.0  5.0  7.0


<a class="anchor" id="sixth-bullet"></a>
<center><h2> PROC MEANS = describe

**SAS**

    proc means data=sasdat;
        var loss revenue;
    run;

**PANDAS** 

to get basic statistics in pandas use the describe method

In [43]:
df.describe()

           loss   revenue
count  7.000000  7.000000
mean  -0.428571  4.571429
std    0.786796  0.975900
min   -2.000000  3.000000
25%   -0.500000  4.000000
50%    0.000000  5.000000
75%    0.000000  5.000000
max    0.000000  6.000000

You can also just pick the variables you want describe. The code below will return just the summary statistics for the variable loss

In [44]:
df.loss.describe()

count    7.000000
mean    -0.428571
std      0.786796
min     -2.000000
25%     -0.500000
50%      0.000000
75%      0.000000
max      0.000000
Name: loss, dtype: float64







<center><h2>PROC MEANS several variables = pivot_table or groupby

**SAS**

    proc means data=sasdat sum;
        class segment debt;
        var loss revenue;
    run;

**PANDAS**  
get the sum by the class variables

In [45]:
df.pivot_table(values='loss', index='segment', columns='debt', margins=True, aggfunc='sum')

debt      high  low  All
segment
midprime   NaN -2.0 -2.0
prime      0.0  0.0  0.0
subprime  -1.0  0.0 -1.0
All       -1.0 -2.0 -3.0

Value is the analysis variable; in this case, profit. The rows are the index, this time set to the variable segment. Columns are columns set to debt. Setting margins=True means we will get row and column totals. Finally we want to sum the profit and thus set the aggregation function equal to sum aggfunc='sum'

The default aggfunc is the mean statistic. So to get the mean you leave off the aggfunc keyword.

In [46]:
df.pivot_table(values='loss', index='segment', columns='debt', margins=True, )

debt      high       low       All
segment
midprime   NaN -0.666667 -0.666667
prime      0.0  0.000000  0.000000
subprime  -1.0  0.000000 -0.500000
All       -0.5 -0.400000 -0.428571

 To calcuate the max the aggfunc keword is 'max'

In [47]:
df.pivot_table(values=['loss','revenue'], index='segment', columns=['debt','sales'], margins=True, aggfunc='max')

         loss                       revenue
debt     high       low         All    high       low         All
sales    high  low  low medium         high  low  low medium
segment
midprime  NaN  NaN  0.0    0.0  0.0     NaN  NaN  5.0    5.0  5.0
prime     0.0  NaN  NaN    0.0  0.0     3.0  NaN  NaN    4.0  4.0
subprime  NaN -1.0  0.0    NaN  0.0     NaN  5.0  6.0    NaN  6.0
All       0.0 -1.0  0.0    0.0  0.0     3.0  5.0  6.0    5.0  6.0

groupby will yield results in a format similar to proc mean

In [48]:
df.groupby(['segment','debt', 'sales']).sum()

                      loss  revenue
segment  debt sales
midprime low  low        0        5
              medium    -2        9
prime    high high       0        3
         low  medium     0        4
subprime high low       -1        5
         low  low        0        6

<center><h1>Loading Data</h1></center>


&ensp;&ensp;To load  different file formats(.sas7bdat, .csv, xlsx, json,etc.)into dataframes use the .read_sas, .read_csv, .read_excel methods in pandas.

&ensp;&ensp;The following code uploads the data from the internet to the computer. This code is just to get the data that will be used in the examples. </span>

In [49]:
## getting an example of sas7bdat data and csv data. 
import urllib

testfile = urllib.URLopener()
testfile.retrieve("http://www.principlesofeconometrics.com/sas/hhsurvey.sas7bdat", "/tmp/sas_data.sas7bdat")
testfile.retrieve("http://samplecsvs.s3.amazonaws.com/Sacramentorealestatetransactions.csv", "/tmp/csv_data.csv")

('/tmp/csv_data.csv', <httplib.HTTPMessage instance at 0x7f98d98f0cf8>)

<a class="anchor" id="seventh-bullet"></a>
<center><h2> SAS DATA STEP=Pandas read\_sas

**SAS**

    LIBNAME source '/tmp/';
    
    DATA newdata;
      set source.sas_data;
    run;

**PANDAS**

Since the file is sas7bdat format you use the read_sas method. This method also suports XPORT format.

In [50]:
dataframe_from_sas=pd.read_sas( "/tmp/sas_data.sas7bdat")

in the example above we created a dataframe named "dataframe_from_sas" from the sas dataset sas_data located in the tmp directory

checking that the data is loaded using the .head() method

In [51]:
dataframe_from_sas.head()

          A  ALCOH        FOOD              K      TRPORT       X
0  3.000292   8.99  157.050003  1.831491e-312   80.510002   692.0
1  2.000292  17.75   70.779999  9.383372e-313   40.720001   272.0
2  2.000000   2.97  177.199997  1.043441e-312   29.309999  1130.0
3  2.000000  13.50   75.110001   2.000201e+00   38.110001   535.0
4  2.000000  47.41  147.889999  9.426619e-313  108.269997   767.0

<a class="anchor" id="eigth-bullet"></a>
<center><h2> SAS PROC IMPORT = Pandas read\_xxxx

**SAS**

    proc import datafile="/tmp/csv_data.csv" out=newdata dbms=csv replace;
        getnames=yes;
    run;

**PANDAS**

    pandas can read multiple formats into dataframes. Examples of methods to read data:
       read_csv
       read_sas
       read_excel
       read_clipboard
       read_stata
       read_jstor
&ensp;&ensp;&ensp;   To get a complete list of instructions for importing data refer to the <a href="http://pandas.pydata.org/pandas-docs/stable/api.html#input-output">DOCUMENTATION</a>

    below is an example with csv data

In [52]:
## read the data in with read_csv
dataframe_from_csv=pd.read_csv("/tmp/csv_data.csv")
## view the first rows of data
dataframe_from_csv.head()

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768

<a class="anchor" id="ninth-bullet"></a>
<center> <h2> Simple Calculations in SAS and Pandas</h2></center>
&ensp;&ensp;

**SAS**

    DATA sasdat;  
    SET df;  
        profit= revenue +loss ;
    run;

**PANDAS**  
In Pandas you write the calculation by explicitly referring to the column or variable name. There are two ways to refer to a variable:
    1. DATAFRAME['variable']
    2. DATAFRAME.variable
Below is a calculation using the DATAFRAME['variable'] syntax

In [53]:
df['profit']=df['revenue']+df['loss']


<a class="anchor" id="tenth-bullet"></a>
<center> <h2> if = loc </h2> </center>

**SAS**

    data sasdat;
    set sasdat;
    if profit>5 then size='Big';
    run;

**PANDAS** 
   .loc[] functionality is conventionally called an "indexer". It allows you to identify rows, or columns. To conditionally create or modify a variable identify what the condition is and set the value. 

  In the example below we create a variable 'SIZE' and assign it the value 'Big' when the existing variable 'profit' is >5.

In [54]:
df.loc[df['profit']>5, 'SIZE']='Big'

<a class="anchor" id="eleventh-bullet"></a>
<center><h2> else if = apply

**SAS**

    data sasdat;
    set sasdat;
    if profit > 5 then size= 'BIG';
    else if profit>4 then size = 'MEDIUM';
    else size= 'SMALL';
    run;

**PANDAS**  
In Pandas you can write a stand alone function and utilize it via the apply method. Very similar to SAS macro functionality.
in the example below you create a function called rankfcn that takes a variable called "data". The name is arbitrary. "data" is the argument for the Pandas dataframe or dataset. 

In this function if the variable 'profit' in the data is greater than 5 it returns 'BIG'.

In the final line we take the dataframe newdat and create the variable rank by applying the function rankfcn. The assign method's argument "axis=1" is used to say apply the fcn on each row.

In [55]:
#create the function to asign rank
def rankfcn(data):
    if data['profit']>5:
        return 'BIG'
    elif data['profit']>4:
        return 'MEDIUM'
    else:
        return 'SMALL'
    
#apply the function to the dataframe newdat. Set axis =1 to apply the function to each row
df['rank']=df.apply(rankfcn, axis=1)

<a class="anchor" id="twelth-bullet"></a>
<center><h2>PROC FORMAT = appply

**SAS**

    proc format;
    value profitable 
         LOW   -< 0 = ’Loss’
         0 - HIGH   = 'Gain';

 
    data sasdat;
    set sasdat;
        profitable=input(put(profit,profitable.),2.0);
    run;

**PANDAS**  
In this case, the function profitable is being applied to the data set to add another row.

In [56]:
def profitable(x):
    if x['profit']<0:
        return 'Loss'
    else:
        return 'Gain'

df['profitable']=df.apply(profitable, axis=1)

You can always apply it to a row to get new values without saving the values

In [57]:
display(df.apply(profitable, axis=1))

0    Gain
1    Gain
2    Gain
3    Gain
4    Gain
5    Gain
6    Gain
dtype: object

<a class="anchor" id="thirteenth-bullet"></a>
<center><h2>PROC EXPORT = to_xxxx

**SAS**

    proc export 
      data=sasdat
      dbms=xlsx 
      outfile="c:\temp\excel_data.xlsx" 
      replace;
    run;

**PANDAS**  
Using the to_excel method dataframe "df" is saved as an excel spreadsheet called "excel_data" to the directory tmp.

In [58]:
df.to_excel("/tmp/excel_data.xlsx",index=False)

    You can write to many formats:
     to_csv
     to_excel
     to_hdf
     to_sql
     to_json
     to_html
     to_stata
     to_clipboard
     to_pickle